@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    margin-left: 10;
    margin-right: 0px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

    /* VÃDEO */

.video{
    display: flex;
}

.paravideo{
    height: 750px;
}

.paravideo video{
    min-height: 135%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}

.paracontent > .container > h1{
    letter-spacing: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    padding: 20px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    /* left: 50%; */
    /* right: 50%; */
    font-size: 6em;
    color: white;
    text-shadow: 1px 1px 5px black;
    z-index: -99;
}

@media (max-width: 1000px){
    .paravideo video{
        min-height: 100%;
    }
}

@media (max-width: 860px){
    .paravideo video{
        min-height: 100%;
    }
}

@media (min-width: 750px){
    .paravideo{
        height: 500px;
    }

    .paravideo video{
        max-height: 150%;
    }

    .paracontent > .container > h1{
        font-size: 3.5em;
    }
                
    .paravideo video::after{
        content: '';
        width: 100%;
        height: 3000px;
        position: absolute;
        z-index: -100;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.658));
    }
}


    /* LONGIN/SINGUP */

.conta{
    display: flex;
    font-size: 25px;
    transition: 0.5s;
}

.clink{
    text-decoration: none;
    padding: 15PX;
}

#log{
    color:var(--cor2);
    font-weight: bold;
}

#log:hover{
    color: #ff973d;
}

#sing{
    background-color: #ff973d;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 5px;
}

#sing:hover{
    background-color: #e48635;
    color: white;
    transition: 0.5s;
}

.conta > p{
    padding: 10px;
}

#filtros-pesquisa{

  width: 100%;
  display: block;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 10px 1px 10px rgba(0, 0, 0, 0);
  margin-top: 0%; /*Parte de cima*/
  margin-bottom:1%; /*Parte de baixo*/
  margin-left:33%; /*Parte do centro*/
}

.input-group{
  display: flex;
  justify-content: center;
  
}

.opicoes{
  padding: 10px;
}

petscards{
  background-color: #ff973d;
  color:#FFF;
  align-items: center;
  display: block;
  height:11%;
  width:100px;
}  

.geral {
  display: flex;
}

@media (max-width: 1100px){
  .geral{
      flex-direction: column;
  }

  .geral > img{
    margin-top: 5px;
  }
}

.video {
  padding: 10px; 
  margin-top: 1%;
}

.img-fluid {
  padding: 20px;
  margin-bottom:1%;
}

/* formulario */

.row{
  display: flex;
}

/*filtros */

#Aplicar {
   margin-top: 0;
   height:101%;
   width:1000px;
   margin-left: 5px;
}

  
  /* Sobre a empresa */

.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.row > div{
  margin: 20px;
}

 #about-area{
    background-color: #F9F9F9;
  }
  
  .main-title {
    color: #444;
    font-size: 1em;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  
  /*.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 700px;
    left: 42.5%;
  } */
  
  .about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  #about-list {
    list-style: none;
    padding-left: 0;
  }
  
  #about-list li {
    line-height: 30px;
  }
  
  #about-list i {
    color: #ff953a;
    margin-right: 15px;
  }

 
/* Copy */
  
  #copy-area {
    background-color: #F9F9F9;
    position: relative;
    bottom: 0;
  }
  
  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }
  
  #copy-area .container p {
    margin-bottom: 0;
  }
  
  #copy-area .container a {
    font-weight: bold;
    color: #444;
  }
  
  #copy-area .container a:hover {
    text-decoration: none;
    color: #ff953a;
  }

/* responsive */
  @media(max-width: 768px) {
    
    /* geral 
    .container {
      padding: 20px 0;
    }
    
    /* about */
    #about-area img {
      margin-top: 100px;
    }
    
  
  @media(max-width: 425px) {
  
    
    /* about */
    .main-title {
      font-size: 30px;
    }
  
    #about-area img {
      margin-top: 0;
      margin-bottom: 30px;
    }

.cadastro {
  color: black;
  font-weight: bold;
}
   
/* video */

    
.banner1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner1 .video1{
    /* position: fixed; */
    top: 93px;
    left: 0;
    object-fit: cover;
    width: 100%;
    object-position: center;
    z-index: -100;
}

.banner1::after{
    content: '';
    width: 100%;
    height: 3000px;
    position: absolute;
    z-index: -100;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.658));
}
